<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.ArticleLabelDoMapper">
  <resultMap id="AllResultMap" type="com.hitwh.vblog.bean.ArticleLabelDoSimple">
    <result column="label_id" jdbcType="INTEGER" property="label_id" />
    <result column="label_name" javaType="String" property="label_name"/>
  </resultMap>

  <select id="selectAllArticleInterest" resultMap="AllResultMap" parameterType="java.lang.Integer">
   SELECT vblog_article_label.label_id, label_name
    FROM vblog_article_label, vblog_label
    WHERE vblog_article_label.article_id = #{articleId}
    AND vblog_article_label.label_id = vblog_label.label_id
  </select>
    <insert id="insert" parameterType="com.hitwh.vblog.bean.ArticleLabelDo">
        insert into vblog_article_label (article_id, label_id, label_add_datetime)
    values (#{articleId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{labelAddTime,jdbcType=TIMESTAMP})
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vblog_article_label
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
    <update id="updateByPrimaryKeySelective" parameterType="com.hitwh.vblog.bean.ArticleLabelDo">
        update vblog_article_label
        <set>
            <if test="labelId != null">
                label_id = #{labelId,jdbcType=VARCHAR},
            </if>
        </set>
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
</mapper>