<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.CommentDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.CommentDo">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="article_id" jdbcType="VARCHAR" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="parent_comment_id" jdbcType="INTEGER" property="parentCommentId" />
  </resultMap>
  <sql id="Base_Column_List">
    comment_id, article_id, user_id, comment, comment_time, parent_comment_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vblog_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vblog_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.CommentDo">
    insert into vblog_comment (comment_id, article_id, user_id, 
      comment, comment_time, parent_comment_id
      )
    values (#{commentId,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, #{parentCommentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.CommentDo">
    insert into vblog_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="parentCommentId != null">
        parent_comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentCommentId != null">
        #{parentCommentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hitwh.vblog.bean.CommentDo">
    update vblog_comment
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentCommentId != null">
        parent_comment_id = #{parentCommentId,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hitwh.vblog.bean.CommentDo">
    update vblog_comment
    set article_id = #{articleId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      parent_comment_id = #{parentCommentId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>