<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.ConcernRecordDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.ConcernRecordDo">
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="follower_id" jdbcType="INTEGER" property="followerId" />
    <result column="concern_time" jdbcType="TIMESTAMP" property="concernTime" />
  </resultMap>
  <resultMap id="ConcernMap" type="com.hitwh.vblog.bean.ConcernAndUserDo">
    <association property="concernRecordDo" javaType="com.hitwh.vblog.bean.ConcernRecordDo" resultMap="BaseResultMap" />
    <association property="userDo" javaType="com.hitwh.vblog.bean.UserDo" resultMap="UserMap"/>
  </resultMap>
  <resultMap id="UserMap" type="com.hitwh.vblog.bean.UserDo">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.ConcernRecordDo">
    insert into vblog_concern_record (target_id, follower_id, concern_time
      )
    values (#{targetId,jdbcType=INTEGER}, #{followerId,jdbcType=INTEGER}, #{concernTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.ConcernRecordDo">
    insert into vblog_concern_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="targetId != null">
        target_id,
      </if>
      <if test="followerId != null">
        follower_id,
      </if>
      <if test="concernTime != null">
        concern_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="followerId != null">
        #{followerId,jdbcType=INTEGER},
      </if>
      <if test="concernTime != null">
        #{concernTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="delete" parameterType="com.hitwh.vblog.bean.ConcernRecordDo">
    delete from vblog_concern_record
    where follower_id = #{followerId,jdbcType=INTEGER}
    and target_id = #{targetId,jdbcType=INTEGER}
  </delete>
  <select id="selectFollower" parameterType="java.lang.Integer" resultMap="ConcernMap">
    select vblog_concern_record.follower_id, vblog_user.user_id, vblog_user.nickname
    from vblog_concern_record, vblog_user
    where vblog_concern_record.target_id = #{userId}
    and vblog_user.user_id = vblog_concern_record.follower_id
  </select>
  <select id="selectTarget" parameterType="java.lang.Integer" resultMap="ConcernMap">
    select vblog_concern_record.target_id, vblog_user.user_id, vblog_user.nickname
    from vblog_concern_record, vblog_user
    where vblog_concern_record.follower_id = #{userId}
    and vblog_user.user_id = vblog_concern_record.target_id
  </select>
</mapper>