<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.LabelDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.LabelDo">
    <id column="lable_id" jdbcType="INTEGER" property="lableId" />
    <result column="lable_name" jdbcType="VARCHAR" property="lableName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    lable_id, lable_name, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vblog_label
    where lable_id = #{lableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vblog_label
    where lable_id = #{lableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.LabelDo">
    insert into vblog_label (lable_id, lable_name, description
      )
    values (#{lableId,jdbcType=INTEGER}, #{lableName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.LabelDo">
    insert into vblog_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lableId != null">
        lable_id,
      </if>
      <if test="lableName != null">
        lable_name,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lableId != null">
        #{lableId,jdbcType=INTEGER},
      </if>
      <if test="lableName != null">
        #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hitwh.vblog.bean.LabelDo">
    update vblog_label
    <set>
      <if test="lableName != null">
        lable_name = #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hitwh.vblog.bean.LabelDo">
    update vblog_label
    set lable_name = #{lableName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>
</mapper>