<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.ReportRecordDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.ReportRecordDo">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="reporter_id" jdbcType="INTEGER" property="reporterId" />
    <result column="reason" jdbcType="INTEGER" property="reason" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="handle_result" jdbcType="INTEGER" property="handleResult" />
  </resultMap>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.ReportRecordDo">
    insert into vblog_report_record (article_id, reporter_id, reason, 
      admin_id, report_time, handle_time, 
      handle_result)
    values (#{articleId,jdbcType=INTEGER}, #{reporterId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR},
      #{adminId,jdbcType=INTEGER}, #{reportTime,jdbcType=TIMESTAMP}, #{handleTime,jdbcType=TIMESTAMP}, 
      #{handleResult,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.ReportRecordDo">
    insert into vblog_report_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="reporterId != null">
        reporter_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="handleTime != null">
        handle_time,
      </if>
      <if test="handleResult != null">
        handle_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="reporterId != null">
        #{reporterId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleResult != null">
        #{handleResult,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>