<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.ReportRecordDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.ReportRecordDo">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="reporter_id" jdbcType="INTEGER" property="reporterId" />
    <result column="reason" jdbcType="INTEGER" property="reason" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="handle_result" jdbcType="INTEGER" property="handleResult" />
  </resultMap>

  <resultMap id="ArticleResultMap" type="com.hitwh.vblog.bean.ArticleDo">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="virtual_id" jdbcType="VARCHAR" property="virtualId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>

  <resultMap id="UserMap" type="com.hitwh.vblog.bean.UserDo">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>

  <resultMap id="RecordAndArticleMap" type="com.hitwh.vblog.bean.ReportAndArticleDo">
    <association property="userDo" javaType="com.hitwh.vblog.bean.UserDo" resultMap="UserMap"/>
    <association property="articleDo" javaType="com.hitwh.vblog.bean.ArticleDo" resultMap="ArticleResultMap" />
    <association property="reportRecordDo" javaType="com.hitwh.vblog.bean.ReportRecordDo" resultMap="BaseResultMap" />
  </resultMap>


  <select id="selectAllReportRecords" resultMap="RecordAndArticleMap">
    SELECT vblog_article.article_id, vblog_article.virtual_id, title, reporter_id,
    nickname, reason, admin_id, report_time, handle_time, handle_result, vblog_user.user_id
    FROM vblog_report_record
    LEFT JOIN vblog_article
    ON vblog_article.article_id = vblog_report_record.article_id
    LEFT JOIN vblog_user
    ON reporter_id = vblog_user.user_id
    limit #{start} ,#{num}
  </select>
  <select id="selectAllReportRecordsNum" resultType="java.lang.Integer">
    select count(*) from vblog_report_record
  </select>

  <select id="selectReportRecordsByArticleId" resultMap="RecordAndArticleMap">
    SELECT vblog_article.article_id, vblog_article.virtual_id, title, reporter_id,
    nickname, reason, admin_id, report_time, handle_time, handle_result, vblog_user.user_id
    FROM vblog_report_record
    LEFT JOIN vblog_article
    ON vblog_article.article_id = vblog_report_record.article_id
    LEFT JOIN vblog_user
    ON reporter_id = vblog_user.user_id
    where vblog_report_record.article_id = #{articleId}
    limit #{start} ,#{num}
  </select>
  <select id="selectReportRecordsByArticleIdNum" resultType="java.lang.Integer">
    select count(*) from vblog_report_record where vblog_report_record.article_id = #{articleId}
  </select>

  <select id="selectIfReported" resultType="java.lang.Integer">
    select count(*) from vblog_report_record where
    vblog_report_record.article_id = #{articleId}
    and vblog_report_record.reporter_id = #{reporterId}
  </select>

  <select id="selectIfArticleExist" resultType="java.lang.Integer">
    select count(*) from vblog_report_record where
    vblog_report_record.article_id = #{articleId}
  </select>

  <select id="selectReportRecordsByHandleResult" resultMap="RecordAndArticleMap">
    SELECT vblog_article.article_id, vblog_article.virtual_id, title, reporter_id,
    nickname, reason, admin_id, report_time, handle_time, handle_result, vblog_user.user_id
    FROM vblog_report_record
    LEFT JOIN vblog_article
    ON vblog_article.article_id = vblog_report_record.article_id
    LEFT JOIN vblog_user
    ON reporter_id = vblog_user.user_id
    where vblog_report_record.handle_result = #{handleResult}
    limit #{start} ,#{num}
  </select>
  <select id="selectReportRecordsByHandleResultNum" resultType="java.lang.Integer">
    select count(*) from vblog_report_record where vblog_report_record.handle_result = #{handleResult}
  </select>

  <update id="updateByArticleId" parameterType="com.hitwh.vblog.bean.ReportRecordDo">
    update vblog_report_record set handle_result = #{handleResult}, admin_id = #{adminId},
     handle_time = #{handleTime} where article_id = #{articleId}
  </update>


  <insert id="insert" parameterType="com.hitwh.vblog.bean.ReportRecordDo">
    insert into vblog_report_record (article_id, reporter_id, reason, 
      admin_id, report_time, handle_time, 
      handle_result)
    values (#{articleId,jdbcType=INTEGER}, #{reporterId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR},
      #{adminId,jdbcType=INTEGER}, #{reportTime,jdbcType=TIMESTAMP}, #{handleTime,jdbcType=TIMESTAMP}, 
      #{handleResult,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.ReportRecordDo">
    insert into vblog_report_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="reporterId != null">
        reporter_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="handleTime != null">
        handle_time,
      </if>
      <if test="handleResult != null">
        handle_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="reporterId != null">
        #{reporterId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleResult != null">
        #{handleResult,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>