<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.TokenDoMapper">
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.TokenDo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expiry_time" jdbcType="TIMESTAMP" property="expiryTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, token, create_time, expiry_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vblog_token
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vblog_token
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.TokenDo">
    insert into vblog_token (user_id, token, create_time, 
      expiry_time)
    values (#{userId,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expiryTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.TokenDo">
    insert into vblog_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="expiryTime != null">
        expiry_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryTime != null">
        #{expiryTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hitwh.vblog.bean.TokenDo">
    update vblog_token
    <set>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryTime != null">
        expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hitwh.vblog.bean.TokenDo">
    update vblog_token
    set token = #{token,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expiry_time = #{expiryTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateForLogout" >
    update vblog_token
    set token = "0"
    where user_id = #{userId}
  </update>
</mapper>