<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitwh.vblog.mapper.UserDoMapper">
  <resultMap id="LoginMap" type="com.hitwh.vblog.bean.UserDo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="salt" jdbcType="INTEGER" property="salt" />
    <result column="ban" jdbcType="INTEGER" property="ban" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="allowance" jdbcType="INTEGER" property="allowance" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.hitwh.vblog.bean.UserDo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
<!--    <result column="interest_1" jdbcType="INTEGER" property="interest1" />-->
<!--    <result column="interest_2" jdbcType="INTEGER" property="interest2" />-->
<!--    <result column="interest_3" jdbcType="INTEGER" property="interest3" />-->
    <result column="allowance" jdbcType="INTEGER" property="allowance" />
    <result column="ban" jdbcType="INTEGER" property="ban" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="salt" jdbcType="INTEGER" property="salt" />
    <result column="avatar_lg" jdbcType="VARCHAR" property="avatarLg"/>
    <result column="avatar_md" jdbcType="VARCHAR" property="avatarMd"/>
    <result column="avatar_sm" jdbcType="VARCHAR" property="avatarSm"/>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, account, pwd, nickname, email, phone, signature, allowance, ban, register_time, salt, avatar_lg, avatar_md, avatar_sm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vblog_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vblog_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hitwh.vblog.bean.UserDo">
    insert into vblog_user (account, pwd,
      nickname, email, phone, 
      signature,  allowance,
      ban, register_time, salt, avatar_lg, avatar_md, avatar_sm
      )
    values ( #{account,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR},  1,
      0, #{registerTime,jdbcType=TIMESTAMP}, #{salt,jdbcType=INTEGER},
      #{avatarLg,jdbcType=VARCHAR}, #{avatarMd,jdbcType=VARCHAR}, #{avatarSm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hitwh.vblog.bean.UserDo" useGeneratedKeys="true" keyProperty="userId">
    insert into vblog_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="allowance != null">
        allowance,
      </if>
      <if test="ban != null">
        ban,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="avatarLg != null">
        avatar_lg,
      </if>
      <if test="avatarMd != null">
        avatar_md,
      </if>
      <if test="avatarSm != null">
        avatar_sm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>

      <if test="allowance != null">
        #{allowance,jdbcType=INTEGER},
      </if>
      <if test="ban != null">
        #{ban,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=INTEGER},
      </if>
      <if test="avatarLg != null">
        #{avatarLg,jdbcType=VARCHAR},
      </if>
      <if test="avatarMd != null">
        #{avatarMd,jdbcType=VARCHAR},
      </if>
      <if test="avatarSm != null">
        #{avatarSm,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hitwh.vblog.bean.UserDo">
    update vblog_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="allowance != null">
        allowance = #{allowance,jdbcType=INTEGER},
      </if>
      <if test="ban != null">
        ban = #{ban,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=INTEGER},
      </if>
      <if test="avatarLg != null">
        #{avatarLg,jdbcType=VARCHAR},
      </if>
      <if test="avatarMd != null">
        #{avatarMd,jdbcType=VARCHAR},
      </if>
      <if test="avatarSm != null">
        #{avatarSm,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hitwh.vblog.bean.UserDo">
    update vblog_user
    set account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      allowance = #{allowance,jdbcType=INTEGER},
      ban = #{ban,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      salt = #{salt,jdbcType=INTEGER},
      avatar_lg = #{avatarLg, jdbcType=VARCHAR},
      avatar_md = #{avatarMd, jdbcType=VARCHAR},
      avatar_sm = #{avatarSm, jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectIfLogin" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id,account,pwd,salt,ban,allowance
    from vblog_user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="selectIfLoginByPhone" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id,account,phone,pwd,salt,ban,allowance
    from vblog_user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectIfLoginByEmail" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id,account,email,pwd,salt,ban,allowance
    from vblog_user
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <select id="selectIfAccount" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id
    from vblog_user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="selectIfPhone" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id
    from vblog_user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectIfEmail" parameterType="com.hitwh.vblog.bean.UserDo" resultMap="LoginMap">
    select user_id
    from vblog_user
    where email = #{email,jdbcType=VARCHAR}
  </select>
</mapper>